@import 'tailwindcss';
@import 'tw-animate-css';

@custom-variant dark (&:is(.dark *));

:root {
  --background: oklch(0.989 0.0091 76.6088);
  --foreground: oklch(0.4034 0.0277 264.1964);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.4034 0.0277 264.1964);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.4034 0.0277 264.1964);
  --primary: oklch(0.7443 0.1345 158.681);
  --primary-foreground: oklch(1 0 0);
  --secondary: oklch(0.926 0.0544 91.7834);
  --secondary-foreground: oklch(0.4034 0.0277 264.1964);
  --muted: oklch(0.9657 0.0131 67.6711);
  --muted-foreground: oklch(0.6649 0.0325 264.3253);
  --accent: oklch(0.9405 0.0138 228.9461);
  --accent-foreground: oklch(0.4034 0.0277 264.1964);
  --destructive: oklch(0.6368 0.2078 25.3259);
  --destructive-foreground: oklch(1 0 0);
  --border: oklch(0.9287 0.0176 67.6083);
  --input: oklch(0.9287 0.0176 67.6083);
  --ring: oklch(0.7443 0.1345 158.681);
  --chart-1: oklch(0.7443 0.1345 158.681);
  --chart-2: oklch(0.7828 0.0764 230.6585);
  --chart-3: oklch(0.8723 0.144 90.5535);
  --chart-4: oklch(0.736 0.0917 291.6223);
  --chart-5: oklch(0.8298 0.0716 326.1989);
  --sidebar: oklch(0.9835 0.0136 76.5841);
  --sidebar-foreground: oklch(0.4034 0.0277 264.1964);
  --sidebar-primary: oklch(0.7443 0.1345 158.681);
  --sidebar-primary-foreground: oklch(1 0 0);
  --sidebar-accent: oklch(0.9255 0.0172 229.0031);
  --sidebar-accent-foreground: oklch(0.4034 0.0277 264.1964);
  --sidebar-border: oklch(0.9143 0.0212 67.5578);
  --sidebar-ring: oklch(0.7443 0.1345 158.681);
  --font-sans: 'Nunito Sans', sans-serif;
  --font-serif: 'Lora', serif;
  --font-mono: 'Fira Code', monospace;
  --radius: 1rem;
  --shadow-x: 0rem;
  --shadow-y: 0.75rem;
  --shadow-blur: 1.5rem;
  --shadow-spread: 0.25rem;
  --shadow-opacity: 0.08;
  --shadow-color: 0 0 0;
  --shadow-2xs: 0rem 0.75rem 1.5rem 0.25rem hsl(0 0 0 / 0.04);
  --shadow-xs: 0rem 0.75rem 1.5rem 0.25rem hsl(0 0 0 / 0.04);
  --shadow-sm:
    0rem 0.75rem 1.5rem 0.25rem hsl(0 0 0 / 0.08), 0rem 1px 2px -0.75px hsl(0 0 0 / 0.08);
  --shadow: 0rem 0.75rem 1.5rem 0.25rem hsl(0 0 0 / 0.08), 0rem 1px 2px -0.75px hsl(0 0 0 / 0.08);
  --shadow-md:
    0rem 0.75rem 1.5rem 0.25rem hsl(0 0 0 / 0.08), 0rem 2px 4px -0.75px hsl(0 0 0 / 0.08);
  --shadow-lg:
    0rem 0.75rem 1.5rem 0.25rem hsl(0 0 0 / 0.08), 0rem 4px 6px -0.75px hsl(0 0 0 / 0.08);
  --shadow-xl:
    0rem 0.75rem 1.5rem 0.25rem hsl(0 0 0 / 0.08), 0rem 8px 10px -0.75px hsl(0 0 0 / 0.08);
  --shadow-2xl: 0rem 0.75rem 1.5rem 0.25rem hsl(0 0 0 / 0.2);
  --tracking-normal: 0em;
  --spacing: 0.25rem;
}

.dark {
  --background: oklch(0.2612 0.0154 264.2613);
  --foreground: oklch(0.954 0.048 84.561);
  --card: oklch(0.3103 0.0197 264.2318);
  --card-foreground: oklch(0.954 0.048 84.561);
  --popover: oklch(0.3103 0.0197 264.2318);
  --popover-foreground: oklch(0.954 0.048 84.561);
  --primary: oklch(0.7443 0.1345 158.681);
  --primary-foreground: oklch(1 0 0);
  --secondary: oklch(0.8779 0.0887 91.7645);
  --secondary-foreground: oklch(0.4034 0.0277 264.1964);
  --muted: oklch(0.3576 0.0238 264.2114);
  --muted-foreground: oklch(0.6649 0.0325 264.3253);
  --accent: oklch(0.4289 0.0442 230.8237);
  --accent-foreground: oklch(0.954 0.048 84.561);
  --destructive: oklch(0.3959 0.1331 25.7205);
  --destructive-foreground: oklch(1 0 0);
  --border: oklch(0.4034 0.0277 264.1964);
  --input: oklch(0.4034 0.0277 264.1964);
  --ring: oklch(0.7443 0.1345 158.681);
  --chart-1: oklch(0.7443 0.1345 158.681);
  --chart-2: oklch(0.7828 0.0764 230.6585);
  --chart-3: oklch(0.8723 0.144 90.5535);
  --chart-4: oklch(0.736 0.0917 291.6223);
  --chart-5: oklch(0.8298 0.0716 326.1989);
  --sidebar: oklch(0.2612 0.0154 264.2613);
  --sidebar-foreground: oklch(0.954 0.048 84.561);
  --sidebar-primary: oklch(0.7443 0.1345 158.681);
  --sidebar-primary-foreground: oklch(1 0 0);
  --sidebar-accent: oklch(0.4093 0.0418 230.7929);
  --sidebar-accent-foreground: oklch(0.954 0.048 84.561);
  --sidebar-border: oklch(0.3852 0.0261 264.2019);
  --sidebar-ring: oklch(0.7443 0.1345 158.681);
  --font-sans: 'Nunito Sans', sans-serif;
  --font-serif: 'Lora', serif;
  --font-mono: 'Fira Code', monospace;
  --radius: 1rem;
  --shadow-x: 0rem;
  --shadow-y: 0.75rem;
  --shadow-blur: 1.5rem;
  --shadow-spread: 0.25rem;
  --shadow-opacity: 0.25;
  --shadow-color: 0 0 0;
  --shadow-2xs: 0rem 0.75rem 1.5rem 0.25rem hsl(0 0 0 / 0.13);
  --shadow-xs: 0rem 0.75rem 1.5rem 0.25rem hsl(0 0 0 / 0.13);
  --shadow-sm:
    0rem 0.75rem 1.5rem 0.25rem hsl(0 0 0 / 0.25), 0rem 1px 2px -0.75px hsl(0 0 0 / 0.25);
  --shadow: 0rem 0.75rem 1.5rem 0.25rem hsl(0 0 0 / 0.25), 0rem 1px 2px -0.75px hsl(0 0 0 / 0.25);
  --shadow-md:
    0rem 0.75rem 1.5rem 0.25rem hsl(0 0 0 / 0.25), 0rem 2px 4px -0.75px hsl(0 0 0 / 0.25);
  --shadow-lg:
    0rem 0.75rem 1.5rem 0.25rem hsl(0 0 0 / 0.25), 0rem 4px 6px -0.75px hsl(0 0 0 / 0.25);
  --shadow-xl:
    0rem 0.75rem 1.5rem 0.25rem hsl(0 0 0 / 0.25), 0rem 8px 10px -0.75px hsl(0 0 0 / 0.25);
  --shadow-2xl: 0rem 0.75rem 1.5rem 0.25rem hsl(0 0 0 / 0.63);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  --font-sans: var(--font-sans);
  --font-mono: var(--font-mono);
  --font-serif: var(--font-serif);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --shadow-2xs: var(--shadow-2xs);
  --shadow-xs: var(--shadow-xs);
  --shadow-sm: var(--shadow-sm);
  --shadow: var(--shadow);
  --shadow-md: var(--shadow-md);
  --shadow-lg: var(--shadow-lg);
  --shadow-xl: var(--shadow-xl);
  --shadow-2xl: var(--shadow-2xl);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
